html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title list
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style/main.css')
    script(src='/scripts/sortTable.js')
  body
    a(href='dashboard') Dashboard
    br
    br
    table#myTable2(border='1')
      thead
        tr
          th#username(onclick='sortTable(0)') Username
          th#email(onclick='sortTable(1)') Email
          th#role(onclick='sortTable(2)') Role
          th#datecreated(onclick='sortTable(3)') Time created (UTC)
          th#lastlogin(onclick='sortTable(4)') Last login (UTC)
      tbody
        each user in data
          tr
            td= user.username
            td= user.email
            td= user.role
            td= user.timeCreated
            td= user.lastLogin